{% extends "base.html" %}

{% block content %}
<h1>Definir a sua Senha</h1>

<form action="{{ url_for('definir_primeira_senha') }}" method="post" class="mt-3">
  <div class="mb-3">
    <label class="form-label">Nova senha</label>
    <input type="password" name="senha" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Confirmar senha</label>
    <input type="password" name="confirmar" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Salvar senha</button>
</form>
{% endblock %}


