<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Estacionamento inteligente</title>
</head>
<body>
    <h1>Login</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for categoria, mensagem in messages %}
          <li><strong>{{ categoria }}:</strong> {{ mensagem }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('login') }}" method="post" autocomplete="off">
    <label>E-mail:</label>
    <input type="email" name="email" required autocomplete="username" value=""><br>

    <label>Senha:</label>
    <input type="password" name="senha" required autocomplete="new-password" value=""><br>

    <button type="submit">Entrar</button>
</form>

</body>
</html>
